<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_area :reference %>
  </div>
  <div class="field">
    <%= f.label :tasktext %><br />
    <%= f.text_area :tasktext %>
  </div>
  <div class="field">
    <%= f.label :highlighttext %><br />
    <%= f.text_area :highlighttext %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :rule %><br />
    <%= f.text_area :rule %>
  </div>
  <div class="field">
    <%= f.label :encourag %><br />
    <%= f.text_field :encourag %>
  </div>
  <div class="field">
    <%= f.label :badgepath %><br />
    <%= f.text_field :badgepath %>
  </div>
  <div class="field">
    <%= f.label :badgetext %><br />
    <%= f.text_area :badgetext %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
