%p#notice= notice
#wrapper
  .taskText{autocomplete: "off", contenteditable: "true"}
    = render 'nextTaskText'
  .taskAuthor{style: "visibility: hidden"}
    = @task.author
  .mistakeCounter
    %span.mistakeCount
    left
  = link_to("NEXT", @task.next_task, remote: true, class: 'nextBtn', style: "display:none") if @task.next_task
  #correct{style: "display:none"}
    %h2= @task.encourag
  = javascript_tag do
    window.referencetext = "#{j @task.reference}";