= render 'layouts/header'
%p#notice= notice
#wrapper
  .taskText{autocomplete: "off", contenteditable: "true"}
    = render 'nextTaskText'
  .taskAuthor{style: "opacity: 0"}
    = @task.author
  .mistakeCounter
    %span.mistakeCount
    left
  .endContainer{style: "display:none"}
    = render 'nextBtn'
    #correct
      %h2= @task.encourag
  = javascript_tag do
    window.referencetext = "#{j @task.reference}";