<p id="notice"><%= notice %></p>

<div id="container">
    <div id="msg" style="display:none"><p>Burb</p></div>
    <div id="tasktext" contenteditable="true" autocomplete="off">
      <h1><%= raw @task.tasktext %></h1>
      <p><span id="mistakes"></span> mistakes left</p>
    </div>
    
    <div id="correct" style="display:none"><h2><%= @task.encourag %></h2><%= link_to("Next →", @task.next_task) if @task.next_task %>
    </div>
<%= javascript_tag do %>
  window.referencetext = "<%=j @task.reference %>";
<% end %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
