<p id="notice"><%= notice %></p>

<div id="wrapper">
  <div class="taskText" contenteditable="true" autocomplete="off">
    <%= raw @task.tasktext %>
  </div>
  <p class="mistakeCounter"><span></span> mistakes left</p>
  
  <div id="correct" style="display:none"><h2><%= @task.encourag %></h2><%= link_to("Next →", @task.next_task) if @task.next_task %>
  </div>
<%= javascript_tag do %>
  window.referencetext = "<%=j @task.reference %>";
<% end %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
