= render 'layouts/header'
%p#notice= notice
#wrapper
  .taskTextHightlighted{style: "display:none"}
    = render 'nextTaskTextHighlighted'
  .taskText{autocomplete: "off", contenteditable: "true"}
    = render 'nextTaskText'
  .taskAuthor{style: "opacity: 0"}
    = @task.author
  .mistakeCounter
    %span.mistakeCount
    left
  .endContainer{style: "display:none"}
    = render 'nextBtn'
    #correct
      %h2= @task.encourag
      %hr
      .errorExplContainer
        %h4
          %em Error Explanation
        %p.errorExpl Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et e magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
  = javascript_tag do
    window.referencetext = "#{j @task.reference}";